@import url("https://fonts.googleapis.com/css?family=Montserrat");

.pricingTable {
  display: flex;
  background-color: #eee;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}

.pricingTable .blockHeading {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.pricingTable .blockHeading h2 {
  color: #3b99e0;
}

.pricingTable .blockHeading p {
  text-align: center;
  max-width: 100%;
  margin: auto;
  opacity: 0.7;
}

.pricingTable .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricingTable .item {
  width: 33.3%;
  height: 100%;
  background-color:#f8f8ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #5ea4f3;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.pricingTable .col-md-5:not(:last-child) .item {
  margin-bottom: 30px;
}
.pricingTable .item button {
  font-weight: 600;
}

.pricingTable .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #f0f8ff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px;
}

.pricingTable .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}

.pricingTable .features .feature {
  font-weight: 600;
}

.pricingTable .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

.pricingTable .price h4 {
  margin: 15px 0;
  font-size: 45px;
  text-align: center;
  color: #2288f9;
}

.buttonCont{
  text-align: center;
  margin: auto;
  width: 60%;
  height: 30%;
  /* border-radius: 10px; */
  font-weight: 900;
  padding: 3px 0;
}
